.sanshui-svg-happy-1 {
  width: 1em;
  height: 1em;
}

.sanshui-svg-happy-2 {
  width: 1em;
  height: 1em;
}

.sanshui-svg-happy-3 {
  width: 1em;
  height: 1em;
}

.sanshui-svg-happy-4 {
  width: 1em;
  height: 1em;
}

.sanshui-svg-happy-5 {
  width: 1em;
  height: 1em;
}

.sanshui-svg-happy-6 {
  width: 1em;
  height: 1em;
}

.sanshui-svg-happy-7 {
  width: 1em;
  height: 1em;
}

.sanshui-svg-happy-8 {
  width: 1em;
  height: 1em;
}

.sanshui-svg-happy-9 {
  width: 1em;
  height: 1em;
}

